.account {
    padding: 0 32px;

    &__item {
        list-style: none;
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.123);
        margin-bottom: 16px;
        padding-bottom: 8px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        cursor: pointer;
        transition: 250ms;

        &:hover {
            background-color: rgba(49, 197, 255, 0.199);
        }

        & span {
            width: 25%;
        }

        & span:last-child,
        & span:nth-last-child(2) {
            text-align: right;
        }
    }
}
