.contest {
    &__players {
    }

    &__draw {
        margin-left: 40px;
        display: flex;
        align-items: center;
    }

    .col-left { 
        display: inline-block;
        min-width: 150px;

        &.strikethrough { 
            text-decoration: line-through;
            color: rgb(112, 0, 0);
        }
    }

    .ball{ 
        display: flex;
        width: 32px;
        height: 32px;
        margin: 8px 4px;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        background-color: rgba(192, 192, 192, 0.3);
        
        &--yellow {
            background-color: rgba(255, 238, 0, 0.6);
        }
    }
}

.player-list {
    list-style-type: none;

    &__item {
        display: flex;
        align-items: center;
    }

}


