.jumbotron {
    margin: 0;
}

.display-1 {
    font-size: 56px;
}

.display-2 {
    font-size: 40px;
}

.display-3 {
    font-size: 24px;
}

.u-round-r  {
    border-radius: 0 6px 6px 0 !important;
}

.action__buttons {
    margin-bottom: 16px;

}

.section {
    padding: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: 1850ms ;
}


.slide {
    height: 0;
    overflow: hidden;
}




.fa-piggy-bank {
    color: dodgerblue;
}

.fa-money-bill-wave {
    color: green;
}

.account {
    padding: 0 32px;
}

.account__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
    transition: 250ms;
}

.account__header:hover {
    background-color: rgba(49, 197, 255, 0.199);
}

.account__header span {
    width: 25%;
}

.account__header span:last-child, .account__header span:nth-last-child(2) {
    text-align: right;
}

.account__item {
    list-style: none;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.123);
    margin-bottom: 16px;
    padding-bottom: 8px;
}

.account__transactions {
    /* height: 0; */
/* display: none; */
}

.warning {
    color: rgb(172, 0, 0);
}

.cashGood {
    color: green;
}



/* UTILITIES CLASS */

.u-ml--sm {
    margin-left: 16px;
}

.u-tiext--rght {
    text-align: right;
}

.u-hide {
    display: none;
}

.u-width--m {
    width: 80px;
}