.display- {
    &1 {
        font-size: 56px;
    }

    &2 {
        font-size: 40px;
    }

    &3 {
        font-size: 24px;
    }
}

.navbar {
    justify-content: space-between;
}

.jumbotron {
    margin: 0;
}

.section {
    padding: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: 1850ms;
}

.slide {
    height: 0;
    overflow: hidden;
}
